@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  color: hsl(220, 15%, 55%);
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: Outfit, sans-serif;
}
.page main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.title {
  color: hsl(218, 44%, 22%);
}
.page-footer {
  padding: 1rem;
  background-color: inherit;
  text-align: center;
}
/*/////////////// QR component //////////////////*/
.qr-card {
  width: 100%;
  max-width: 320px;
  min-width: 240px;
  padding: 1em;
  margin: auto;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 2px 4px 30px 0 rgba(123, 135, 157, 0.1);
}
.qr-card img {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 0.7em;
  border-radius: 10px;
}
.qr-card figcaption {
  padding: 1em;
  padding-bottom: 1.6em;
  text-align: center;
}
.qr-card .title {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.qr-card p:nth-child(2) {
  letter-spacing: 0.01em;
}
